/* Базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #242020;
}

/* Структура сайта */

header {
    background-color: #f4f4f4;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Основное содержимое */

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #0066cc;
    text-align: center;
}

/* Форматирование текста */

p {
    margin-bottom: 20px;
}

/* Картинки */

.info-card>img {
    max-width: 20%;
    height: auto;
    margin: 20px 0;
}

/* Таблицы */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Футер */

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}
